<%- include('partials/head') %>

<%- include('partials/navbar') %>

<div class="container">
    <h1 class="text-center pt-3">Welcome to my ToDo List Project!</h1>
</div>

<%- include('partials/foot') %> 