@model PriceQuotation

@{
    ViewBag.Title = "Price Quotation";
}

@*<div asp-validation-summary="All"></div>*@

<form asp-action="Index" method="post">
    <div class="row form-group mt-2">
        <label class="col-sm-3" asp-for="Subtotal">Subtotal:</label>
        <div class="col-sm-4">
            <input class="col-sm-4 form-control"asp-for="Subtotal" />
        </div>
        <span class="col-sm text-danger" asp-validation-for="Subtotal"></span>
    </div>

    <div>
        <div class="row form-group mt-2">
        <label class="col-sm-3" asp-for="DiscountPercent">Discount percent:</label>
        <div class="col-sm-4">
            <input class="col-sm-4 form-control"asp-for="DiscountPercent" />
        </div>
        <span class="col-sm text-danger" asp-validation-for="DiscountPercent"></span>
    </div>
    </div>

    <div class="row form-group mt-3">
        <label class="col-sm-3">Discount amount:</label>
        <label class="col-sm-4">@ViewBag.Discount.ToString("c2")</label>
    </div>

    <div class="row form-group mt-3">
        <label class="col-sm-3">Total:</label>
        <label class="col-sm-4">@ViewBag.Total.ToString("c2")</label>
    </div>

    <div class="col mt-3">
        <button class="btn btn-success" type="submit">Calculate</button>
        <a class="btn btn-success ml-2" asp-action="Index">Clear</a>
    </div>

</form>
